@charset "UTF-8"
@import compass/css3

// semantic ui
$yellow: #f2c61f
$orange: #e07b53
$red: #d95c5c
$green: #5bbd72
$teal: #00b5ad
$blue: #3b83c0

// third party
$hackpad: #53af98
$github: #111

// program

#program
  #header
    background-color: hsla(210,50,80,1)
  #filter
    #schedule-expand-button
      .collapse
        display: none
  #announcement
    background-color: rgba(red,0.1)
  #gsheet
    .wrap
      position: fixed
      top: 3rem
      left: 0
      right: 0
      bottom: 7rem
      @media screen and (max-height: 30rem)
        bottom: 0
      -webkit-overflow-scrolling: touch
      overflow-y: scroll
      iframe
        width: 100%
        height: 100%
        border: none
  #banner
    position: absolute
    bottom: 0
    left: 0
    right: 0
    @media screen and (max-height: 30rem)
      display: none
    #advertisement
      background-color: hsla(30,80,80,0.5)
    #announcement
      background-color: hsla(0,0,0,0.1)
  .schedule
    position: relative
    display: none
    padding: 1rem 0
    &.active
      display: block
    .ui.grid
      margin: 0
      padding: 0
      .row
        margin: 0
        padding: 0.25rem
        padding-left: 4rem
        overflow-x: auto
        overflow-y: hidden
        white-space: nowrap
        &.expire
          opacity: 0.8
          display: none
          .segment
            background-color: rgba(#fff,0)
        &.active
          +border-radius(0.5rem)
          border: 2px hsla(0,100,50,1) solid
          //+box-shadow(0 0 5px hsla(0,100,50,1))
          //background-color: hsla(0,100,50,0.5)
        .slot
          position: relative
          font-size: 1rem
          .time
            position: absolute
            left: -4rem
            top: 0
            font-size: 1rem
            width: 3.5rem
            text-align: right
        .column
          white-space: normal
          margin: 0
          padding: 0
          min-width: 120px
          .segment
            padding: 0.5rem
            i.icon:last-child
              margin-left: 0.5em
              margin-right: 0
            .ui.label:first-child
              margin-left: 0
              margin-right: 0.5em
            .message
              padding: 0.5rem
