footer#bottombar
  //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
  .ui.borderless.menu.simplified.horizontal.wrap
    .desktop.laptop.tablet
      a.item(href='speakers') 講者
      a.item(href='staff') 工作人員
      a.item(href="partners") 合作夥伴
      a.item(href='community') 社群交流區
    .phone
      .ui.simple.dropdown.item
        | 參與者
        i.icon.dropdown
        .menu
          a.item(href='speakers') 講者
          a.item(href='staff') 工作人員
          a.item(href="partners") 合作夥伴
          a.item(href='community') 社群交流區
    .right.menu
      a.item(href="about")
        span.phone
          i.icon.info
        span.desktop.laptop.tablet 關於
      a.ui.button.item(target="_blank",href="http://COSCUP.org/")
        span.desktop.laptop.tablet.phone COSCUP 正版官網
        i.icon.external.square
