a.item(href="index").short
  | COSCUP 2015 首頁
a.item(href="news")
  //i.icon.rss
  | 新聞
a.item(href="program-gsheet")
  //i.icon.calendar
  | 議程 (gsheet)
a.item(href="program-beta")
  //i.icon.calendar
  | 議程
a.item(href="venue")
  //i.icon.map.marker
  | 交通資訊
