a.item.blue(data-change-schedule='speech') 演講
  //.ui.label.blue 5
a.item.teal(data-change-schedule='workshop') 工作坊
  //.ui.label.teal 3
a.item.green(data-change-schedule='unconf') unconf
  //.ui.label.green 2
a.right.item.yellow
  | 喜歡
  //i.icon.star.yellow
  .ui.label.yellow 10
