.column
  .ui.segment
    //-.ui.right.corner.label
      i.star.icon
    a.ui.top.attached.label.room
      span 第一會議室
      i.icon.location.arrow.float.right
    .ui.small.header.dividing.no.margin
      span 從沒有人到超多人：g0v社群經驗，測試很長的標題
    .speaker ipa
    .language
      .ui.horizontal.mini.label 中
      .ui.horizontal.mini.label.disabled En
        i.translate.icon
    .ui.hidden.divider
    a.ui.bottom.attached.label
      i.star.icon.right.float