.column(data-schedule-id='')
  .ui.segment
    //-.ui.right.corner.label
      i.star.icon
    .ui.small.header.dividing.no.margin
      span 從沒有人到超多人：g0v社群經驗，測試很長的標題
      .ui.horizontal.mini.label 中
    .speaker ipa
    .ui.hidden.divider
    .ui.left.bottom.attached.label.button.disabled
      //i.translate.icon
      //i.icon.right.arrow
      //span En
      | 無翻譯
    a.ui.right.bottom.attached.label.yellow(data-like='')
      i.star.icon.right.float