.column(data-schedule-id='')
  .ui.segment
    //-.ui.right.corner.label
      i.star.icon
    a.ui.top.attached.label.black.room
      span 國際會議廳
      i.icon.location.arrow.float.right
    .ui.small.header.dividing.no.margin
      span State of the unison: g0v 村情咨文
    .speaker clkao
    .language
      .ui.horizontal.mini.label 中
      .ui.horizontal.mini.label.disabled En
        i.translate.icon
    //.ui.message.orange 延後十分鐘開始
    .ui.hidden.divider
    a.ui.bottom.attached.label(data-like='')
      i.star.icon.right.float