.column(data-schedule-id='').active
  .ui.segment
    //-.ui.right.corner.label
      i.star.icon
    .ui.small.header.dividing.no.margin
      span State of the unison: g0v 村情咨文
      .ui.horizontal.mini.label 中
    .speaker clkao
    .ui.hidden.divider
    a.ui.left.bottom.attached.label
      //i.translate.icon
      i.icon.right.arrow
      span En
    a.ui.right.bottom.attached.label(data-like='')
      i.star.icon.right.float