extends _template

block head
  link(rel="stylesheet",href="css/level-one.css")
  meta(property="og:image",content="http://etblue.github.io/wild.coscup.org/public/img/cover.png")

  block subhead

block body

  nav#topbar
    //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
    .ui.borderless.menu.simplified.horizontal.wrap
      .desktop.laptop.tablet
        //a.logo.item(href="index")
          img.logo.image(src="img/logo.png")
        a.item(href="index").long
          | COSCUP 2015
        include -level-one-nav
        block topnav
      .phone
        //.ui.simple.dropdown.logo.item
        a.item(href="index").long
          | COSCUP 2015
        .ui.simple.dropdown.item
          block title
          //img.logo.image(src="img/logo.png")
          i.icon.dropdown
          .menu
            include -level-one-nav
            include -level-one-nav-second
            include -level-one-nav-third
        block topnav
      .right.menu
        a.item(href="join")
          i.icon.pointing.right
          span.desktop.laptop.tablet 參加！
        a.item(href="partners")
          i.icon.money
          span.desktop.laptop.tablet 贊助！
        //-.ui.simple.dropdown.right.item
          i.icon.globe
          | 語言
          i.icon.dropdown
          .menu
            .item English
            .item 正體中文
        //-.right.item
          .ui.icon.input
            input(type='text',placeholder='')
            i.icon.search.link
        //block topbar

  block content

  block footer

