extends _level-one

block subhead
  //-meta(property="og:image",content="img/cover.png")

block title
  | 關於 COSCUP | 

block content
  #about
    header#vi
      .content.horizontal.wrap
        .ui.image
          img(src='img/coscup-banner-2013.png')
    section#intro
      .content.horizontal.wrap
        .horizontal.vertical.padding
          h1.ui.block.header.centered.teal.inverted 什麼是 COSCUP
          .ui.two.column.stackable.grid
            .row
              .ten.wide.column
                h2.ui.dividing.header.teal 簡介
                h3.ui.small.header 贊助版簡介文案
                p.meta 取自
                  a.ui.horizontal.small.label(href='http://etblue.github.io/wild.ocf.tw/public/join',target='_blank')
                    | OCF 野生官網
                    i.icon.external.square
                p 台灣開源社群一年一度的盛會，讓開發者、使用者與推廣者齊聚一堂，世界各地專家分享寶貴經驗，替全球 FLOSS 社群注入活力與創意。演講之外還有工作坊、社群 BoF 小聚，開放任何人免費報名，場地餐點硬體等開支皆來自贊助。
                h3.ui.small.header 媒體版簡介文案
                p.meta 取自
                  a.ui.horizontal.small.label(href='http://www.ithome.com.tw/news/93609',target='_blank')
                    | iThome
                    i.icon.external.square
                p 全臺最大規模的COSCUP就像是一年一度的臺灣開源社群大聚會，涵蓋了開發者、使用者與推廣者。雖然開發者是主要的生產者，讓這3種角色互相交流，也能讓使用者，成為開發者或推廣者。
                h2.ui.dividing.header.teal 核心精神
                p 傳統商業軟體的開發者 (coders) 和使用者 (users) 很少交流，是大家都接受的事實。
                p 你的軟體用起來有問題？請打技術支援電話，由客服人員為你服務，他或許已經盡其所能，但未必能解決你的問題。如果問題是軟體的臭蟲，你只好痴痴地等待不知幾年後才開賣的下一版。而你當初之所以選用Ａ軟體而不是Ｂ軟體，常常是聽信銷售員 (sales) 的一面之詞或同儕的推薦。在這個行為模式下，users 面對的是銷售員和客服，coders 面對的還是銷售員和客服，users 遇到的問題要間接地才能反應到 coders 手上，中間還可能會被過濾掉。
                p Open source 這個在 1998 年出現的名詞，大家早已耳熟能詳。這種在網路上已經進行二、三十年的軟體開發模式之所以能成功，有許多原因。其中一個極為關鍵的因素，就是 coder 與 user 的直接接觸。無屏障的交流形成了問題的快速回報和修補機制，而當這個機制被網路效應放大到極限時，Linus 定律就出現了：「臭蟲難逃眾人法眼」 (With enough eyeballs, all bugs are shallow) ，軟體品質因此顯著提昇。在 open source 的模式中，coders 和 users 中間的人不再是銷售員或客服，而是讓軟體更容易被 users 接受的推廣者 (promoters)，他們打包套件讓軟體更好裝、寫說明文件讓軟體更易學、辦推廣活動讓更多人接觸到好軟體、在網路上回答問題解決使用者的疑惑，而且不會把 coders 藏在背後產生資訊的不對稱。
                p Coders、users 和 promoters 是讓 open source 軟體發光發熱的三大支柱，這個研討會就是專為這三種人舉辦的：你可以是 A 軟體的 coder、B 軟體的 promoter、C 軟體的 user，不論你是已經踏入 open source 領域，還是一直站在門口不知如何入門，歡迎你來參加 COSCUP — Conference for Open Source Coders, Users and Promoters!
                //-p 開放原始碼的開發者、推廣者、使用者、還是想了解軟體的新手，都歡迎您來參加
              .six.wide.column
                h2.ui.top.attached.header.teal 全名
                .ui.attached.segment.secondary
                  h3.ui.small.header English
                  p Conference for Open Source Coders, Users and Promoters
                  h3.ui.small.header 正體中文
                  p 開發者 × 使用者 × 推廣者 — COSCUP 開源人年會
                h2.ui.attached.header.teal 起源
                .ui.attached.segment.secondary
                  p Founded in 2006。前身是 ICOS 社群議程，再前身是 OSW。
                h2.ui.attached.header.teal 成員
                .ui.attached.segment.secondary
                  p 發起人、歷屆總召、歷屆 staff 名單連結
                h2.ui.attached.header.teal 識別設計
                .ui.attached.segment.secondary
                  p 歷屆 logo、主視覺、吉祥物圖檔
                h2.ui.attached.header.teal 歷屆活動
                .ui.bottom.attached.segment.secondary
                  p 歷屆 COSCUP 官網連結

    section#meta
      .content.horizontal.wrap
        .horizontal.vertical.padding
          h1.ui.block.header.centered.teal.inverted 關於本站
          p 歡迎光臨 COSCUP.org 野生官網！本站內容由 ETBlue 製作的部分以 CC0 釋出、取自 COSCUP 社群的部分依原作者授權。本站程式碼由 ETBlue 撰寫的部分以 CC0 釋出、取自 semantic ui / jquery ... 等第三方函式庫的部分依原作者授權。檔案：
            a.ui.icon.labeled.compact.button(target='_blank',href='https://github.com/ETBlue/wild.coscup.org') wild.coscup.org
              i.icon.github

block footer
  include -bottombar
  include -footer

block script
  script.
    $(document).ready(function(){
      $("[href*='about']").addClass("active");
    });

