extends _level-one

block subhead
  //-meta(property="og:image",content="img/cover.png")

  // bxslider
  //link(rel="stylesheet",type="text/css",href="assets/jquery.bxslider/jquery.bxslider.css")
  //script(type="text/javascript",src="assets/jquery.bxslider/jquery.bxslider.min.js")

block title
  | 首頁

block content
  #home
    header#vi
      .horizontal.wrap
        .ui.image
          img(src='img/cover.png')
    section#summary
      .horizontal.wrap
        .horizontal.vertical.padding
          .ui.two.column.stackable.grid.equal.height.divided.inverted
            .blue.row.align.center
              .twelve.wide.column
                p.tagline 開發者 × 使用者 × 推廣者 — COSCUP 開源人年會
                p Conference for Open Source Coders, Users and Promoters 
              .four.wide.column
                a(href='about').ui.label.blue
                  i.icon.right.chevron
                  | 什麼是 COSCUP
          .ui.two.column.stackable.divided.grid.equal.height
            .row.stretched
              .column
                p COSCUP 十週年了！台灣的開源社群不斷茁壯、參與者越來越多元，近一兩年，開放的精神更是擴散到程式碼之外的領域，替社會注入一股新氣象。COSCUP 2015 的主軸即是「開放文化」，來吧！熱愛開放與自由的你，一起來讓開源精神散播到更廣大的世界吧！
              .column
                .ui.list.divided
                  .item
                    i.icon.calendar
                    .content
                      .header 時間
                      .description 8/15 Sat. 9:30AM - ??PM
                      .description 8/16 Sun. 9:30AM - ??PM
                  .item
                    i.icon.map.marker
                    .content
                      .header 地點
                      .description 中研院人文館（研究院路 xxx xxx）
                a(href='venue').ui.label
                  i.icon.right.chevron
                  | 詳細交通資訊
    section#now-action
      .horizontal.wrap
        .horizontal.vertical.padding
          .ui.three.column.stackable.grid.equal.height
            .row
              .column
                .ui.segments
                  .ui.segment.align.center
                    h2.ui.top.attached.yellow.label.large 會眾報名
                    p 一段讓人覺得不來會死的文字，一段讓人覺得不來會死的文字，一段讓人覺得不來會死的文字，一段讓人覺得不來會死的文字。
                  .ui.segment.align.center
                    //h3.ui.header 大會
                    h3.ui.small.header 大會 VIP
                      .sub.header 5/1 - 5/1
                    .ui.horizontal.fluid.black.label 已結束，審核中
                  .ui.segment.align.center
                    h3.ui.small.header 大會一般會眾
                      .sub.header 7/1 - 7/1
                    .ui.horizontal.fluid.black.label 尚未開始
                  .ui.segment.align.center
                    h3.ui.small.header 工作坊
                      .sub.header 6/2 - 7/1
                    a(href='http://coscup2015.kktix.cc/events/workshop2015').ui.icon.labeled.fluid.button.yellow 立刻搶票！
                      i.icon.right.pointing
              .column
                .ui.segments
                  .ui.segment.align.center
                    h2.ui.top.attached.green.label.large 講者報名
                    p 一段讓人腦充血投稿的文字，一段讓人腦充血投稿的文字，一段讓人腦充血投稿的文字，一段讓人腦充血投稿的文字。
                  .ui.segment.align.center
                    h3.ui.small.header 議程講者
                      .sub.header 5/?? - 5/23
                    .ui.horizontal.fluid.black.label 已結束，審核中
                  .ui.segment.align.center
                    h3.ui.small.header 閃電秀講者
                      .sub.header 8/16 12:00 pm - 
                    .ui.horizontal.fluid.black.label 現場登記
              .column
                .ui.segment.align.center
                  h2.ui.top.attached.teal.label.large 成為贊助商
                  p 一段讓人掏錢出來的文字，一段讓人掏錢出來的文字，一段讓人掏錢出來的文字，一段讓人掏錢出來的文字。
                  a.ui.teal.icon.labeled.fluid.button
                    i.icon.mail
                    | 聯絡贊助小組
                  code email@email.com
    section#top-sponsors.vertical.padding
      .horizontal.wrap
          .ui.two.column.stackable.grid.equal.height
            .row
              .column
                .ui.horizontal.divider 鑽石級贊助
                .ui.two.column.divided.grid
                  .row
                    .column
                      .ui.image
                        img(src='img/logo.png')
                    .column
                      .ui.image
                        img(src='img/logo.png')
                  .row
                    .column
                      .ui.image
                        img(src='img/logo.png')
              .column
                .ui.horizontal.divider 黃金級贊助
                .ui.three.column.divided.grid
                  .row
                    .column
                      .ui.image
                        img(src='img/logo.png')
                    .column
                      .ui.image
                        img(src='img/logo.png')
                    .column
                      .ui.image
                        img(src='img/logo.png')
                  .row
                    .column
                      .ui.image
                        img(src='img/logo.png')
                    .column
                      .ui.image
                        img(src='img/logo.png')
    .ui.hidden.divider
    section#news
      .horizontal.wrap
        .ui.segment.secondary
          .ui.two.column.stackable.grid
            .column
              .ui.divided.items
                .item
                  .image
                    img(src='img/cover.png')
                  .content
                    .header 新聞標題
                    .meta 發佈日期
                    .description
                      p 摘要與預覽文字內容
                    .extra
                      .ui.label.right.floated
                        i.icon.right.chevron
                        | more
                .item
                  .image
                    img(src='img/cover.png')
                  .content
                    .header 新聞標題
                    .meta 發佈日期
                    .description
                      p 摘要與預覽文字內容
                    .extra
                      .ui.label.right.floated
                        i.icon.right.chevron
                        | more
            .column
              .ui.divided.items
                .item
                  .image
                    img(src='img/cover.png')
                  .content
                    .header 新聞標題
                    .meta 發佈日期
                    .description
                      p 摘要與預覽文字內容
                    .extra
                      .ui.label.right.floated
                        i.icon.right.chevron
                        | more
                .item
                  .image
                    img(src='img/cover.png')
                  .content
                    .header 新聞標題
                    .meta 發佈日期
                    .description
                      p 摘要與預覽文字內容
                    .extra
                      .ui.label.right.floated
                        i.icon.right.chevron
                        | more
    section#all-sponsors.vertical.padding
      .horizontal.wrap
        .ui.two.column.stackable.grid
          .row
            .column
              .ui.horizontal.divider 白銀級贊助
              .ui.three.column.divided.grid
                .row
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                .row
                  .column
                    img(src='img/logo.png')
            .column
              .ui.horizontal.divider 青銅級贊助
              .ui.four.column.divided.grid
                .row
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                .row
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
                .row
                  .column
                    img(src='img/logo.png')
                  .column
                    img(src='img/logo.png')
        //.vertical.padding
          .ui.horizontal.divider 媒體夥伴
          .ui.eight.column.divided.grid
            .row
              .column
                img(src='img/logo.png')
              .column
                img(src='img/logo.png')
              .column
                img(src='img/logo.png')
              .column
                img(src='img/logo.png')
              .column
                img(src='img/logo.png')

    .ui.hidden.divider

block footer
  include -bottombar
  include -footer

block script

  script.
    $(document).ready(function(){
      $("[href*='index']").addClass("active");
    });

  //-script.
    var gsheet_url = 'https://docs.google.com/spreadsheets/d/1RrLiqy3xId-zxhTmtsYvuTb6N5HCUgXVaEWHCeNwgr4/pubhtml',
        slide_html = '{{#each slides}}<li><img src="{{url}}" title="{{title}}" /></li>{{/each}}',
        slide_template = Handlebars.compile( slide_html );

    Tabletop.init({
      key: gsheet_url,
      callback: insert_slideshow
    });

    function insert_slideshow( data, tabletop ) {

      $( function() {
        var slides = tabletop.sheets('slideshows').all();

        $('#home ul.bxslider')
          .append( slide_template( {slides: slides} ) )
          .bxSlider({
            captions: true,
            adaptiveHeight: true
          });
      });
    }

