extends _level-one

block subhead
  //-meta(property="og:image",content="img/cover.png")

  // bxslider
  //link(rel="stylesheet",type="text/css",href="assets/jquery.bxslider/jquery.bxslider.css")
  //script(type="text/javascript",src="assets/jquery.bxslider/jquery.bxslider.min.js")

block title
  | 首頁 | 

block content
  #home
    section#promote
      .horizontal.wrap
        .ui.image
          img(src='img/cover.png')
    section#summary
      .horizontal.wrap
        .horizontal.vertical.padding
          .ui.two.column.stackable.grid.equal.height.divided.inverted
            .blue.row.align.center
              .twelve.wide.column
                p.tagline 開發者 × 使用者 × 推廣者 — COSCUP 開源人年會
                p Conference for Open Source Coders, Users and Promoters 
              .four.wide.column
                a(href='about').ui.horizontal.label.blue
                  i.icon.right.chevron
                  | 什麼是 COSCUP
          .ui.two.column.stackable.divided.grid.equal.height
            .row.stretched
              .column
                p COSCUP 十週年了！台灣的開源社群不斷茁壯、參與者越來越多元，近一兩年，開放的精神更是擴散到程式碼之外的領域，替社會注入一股新氣象。COSCUP 2015 的主軸即是「開放文化」，來吧！熱愛開放與自由的你，一起來讓開源精神散播到更廣大的世界吧！
              .column
                p 時間地點
            //.column
              p 台灣開源社群一年一度的盛會，讓開發者、使用者與推廣者齊聚一堂，世界各地專家分享寶貴經驗，替全球 FLOSS 社群注入活力與創意。演講之外還有工作坊、社群 BoF 小聚，開放任何人免費報名，場地餐點硬體等開支皆來自贊助。
              p Open source 這個在 1998 年出現的名詞，大家早已耳熟能詳。這種在網路上已經進行二、三十年的軟體開發模式之所以能成功，有許多原因。其中一個極為關鍵的因素，就是 coder 與 user 的直接接觸。無屏障的交流形成了問題的快速回報和修補機制，而當這個機制被網路效應放大到極限時，Linus 定律就出現了：「臭蟲難逃眾人法眼」 (With enough eyeballs, all bugs are shallow) ，軟體品質因此顯著提昇。在 open source 的模式中，coders 和 users 中間的人不再是銷售員或客服，而是讓軟體更容易被 users 接受的推廣者 (promoters)，他們打包套件讓軟體更好裝、寫說明文件讓軟體更易學、辦推廣活動讓更多人接觸到好軟體、在網路上回答問題解決使用者的疑惑，而且不會把 coders 藏在背後產生資訊的不對稱。
              p Coders、users 和 promoters 是讓 open source 軟體發光發熱的三大支柱，這個研討會就是專為這三種人舉辦的：你可以是 A 軟體的 coder、B 軟體的 promoter、C 軟體的 user，不論你是已經踏入 open source 領域，還是一直站在門口不知如何入門，歡迎你來參加 COSCUP — Conference for Open Source Coders, Users and Promoters!
              p Founded in 2006。前身是 ICOS 社群議程，再前身是 OSW。
              p 開放原始碼的開發者、推廣者、使用者、還是想了解軟體的新手，都歡迎您來參加
              p 全臺最大規模的COSCUP就像是一年一度的臺灣開源社群大聚會，涵蓋了開發者、使用者與推廣者。雖然開發者是主要的生產者，讓這3種角色互相交流，也能讓使用者，成為開發者或推廣者。
    section#now-action
      .horizontal.wrap
        .ui.three.column.stackable.grid.equal.height
          .row.stretched
            .column
              .ui.segment.yellow.inverted
                .ui.horizontal.divider 會眾報名
                p VIP 會眾 5/?? (已結束，審核中)
                p 一般會眾 7/?? (尚未開始)
                //.ui.button action 1
            .column
              .ui.segment.green.inverted
                .ui.horizontal.divider 講者報名
                p 5/?? - 5/23 (已結束)
                //.ui.button action 2
            .column
              .ui.segment.teal.inverted
                .ui.horizontal.divider 成為贊助商
                .ui.button mailto button
    section#top-sponsors
      .horizontal.wrap
        .ui.two.column.grid
          .column
            .ui.horizontal.segment sponsor logo 1
          .column
            .ui.horizontal.segment sponsor logo 2
    section#news
      .horizontal.wrap
        .ui.two.column.stackable.grid
          .column
            .ui.horizontal.segment news type 1
          .column
            .ui.horizontal.segment news type 2
    section#all-sponsors
      .horizontal.wrap
        p all sponsors

block script

  script.
    $(document).ready(function(){
      $("[href*='index']").addClass("active");
    });

  //-script.
    var gsheet_url = 'https://docs.google.com/spreadsheets/d/1RrLiqy3xId-zxhTmtsYvuTb6N5HCUgXVaEWHCeNwgr4/pubhtml',
        slide_html = '{{#each slides}}<li><img src="{{url}}" title="{{title}}" /></li>{{/each}}',
        slide_template = Handlebars.compile( slide_html );

    Tabletop.init({
      key: gsheet_url,
      callback: insert_slideshow
    });

    function insert_slideshow( data, tabletop ) {

      $( function() {
        var slides = tabletop.sheets('slideshows').all();

        $('#home ul.bxslider')
          .append( slide_template( {slides: slides} ) )
          .bxSlider({
            captions: true,
            adaptiveHeight: true
          });
      });
    }

