extends _level-one

block subhead
  link(rel="stylesheet",href="css/program.css")
  //-meta(property="og:image",content="img/cover.png")

block title
  | 議程

block content
  #program
    //-header#header.align.center
      .horizontal.wrap
        .ui.segment.simplified.blue.inverted
          h1.ui.header
            //-i.icon.pointing.right
            | 議程
          //-.countdown(data-use-schedule='speech',data-countdown-html='')
          //-.countdown(data-use-schedule='workshop',data-countdown-html='')
          //-.countdown(data-use-schedule='unconf',data-countdown-html='')

    section#gsheet
      .horizontal.wrap
        iframe(src='http://davidwalsh.name/scroll-iframes-ios')
    //-section#filter
      .horizontal.wrap
        #day-menu.ui.menu.simplified.fluid.two.item.blue.inverted.no.margin
          a.item(data-active-on='',data-expire-on='',data-tab='day-1') Day 1
            .ui.label 8/15 Sat.
          a.item(data-active-on='',data-expire-on='',data-tab='day-2') Day 2
            .ui.label 8/16 Sun.
        #schedule-menu.ui.secondary.pointing.menu.no.margin
          a.item.blue(data-change-schedule='speech') 五軌議程
            //.ui.label.blue 5
          a.item.teal(data-change-schedule='workshop') 三軌工作坊
            //.ui.label.teal 3
          a.item.green(data-change-schedule='unconf') 兩軌 unconf
            //.ui.label.green 2
          a.right.item.yellow
            | 我喜歡的
            //i.icon.star.yellow
            .ui.label.yellow 10
        #schedule-expand-button.ui.button.fluid
          span.expand.action
            i.icon.down.chevron
            | 展開
          span.collapse.action
            i.icon.up.chevron
            | 收合
          | 已結束議程
    //-section#day-1.ui.tab(data-tab='day-1')
      section.speech.active.schedule(data-use-schedule='speech')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
        .horizontal.wrap
          .ui.grid.five.column
            .row(data-active-on='',data-expire-on='').expire
              .slot
                .time 9:00
              include -session1
              include -session2
              include -session1
              include -session2
              include -session1
            .row(data-active-on='',data-expire-on='').expire
              .slot
                .time 10:00
              .ui.horizontal.divider break
            .row(data-active-on='',data-expire-on='').active
              .slot
                .time 11:00
              include -session2
              include -session1
              include -session2
              include -session1
              include -session2
            .row(data-active-on='',data-expire-on='')
              .slot
                .time 12:00
              .ui.horizontal.divider break
            .row(data-active-on='',data-expire-on='')
              .slot
                .time 13:00
              include -session2
              include -session1
              include -session2
              include -session1
              include -session2
      section.workshop.schedule(data-use-schedule='workshop')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
      section.unconf.schedule(data-use-schedule='unconf')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
    //-section#day-2.ui.tab(data-tab='day-2')
      section.speech.active.schedule(data-use-schedule='speech')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
        .horizontal.wrap
          .ui.grid.five.column
            .row(data-active-on='',data-expire-on='').expire
              .slot
                .time 9:00
              include -session1
              include -session2
              include -session1
              include -session2
              include -session1
            .row(data-active-on='',data-expire-on='').expire
              .slot
                .time 10:00
              .ui.horizontal.divider break
            .row(data-active-on='',data-expire-on='').active
              .slot
                .time 11:00
              include -session2
              include -session1
              include -session2
              include -session1
              include -session2
            .row(data-active-on='',data-expire-on='')
              .slot
                .time 12:00
              .ui.horizontal.divider break
            .row(data-active-on='',data-expire-on='')
              .slot
                .time 13:00
              include -session2
              include -session1
              include -session2
              include -session1
              include -session2
      section.workshop.schedule(data-use-schedule='workshop')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
      section.unconf.schedule(data-use-schedule='unconf')
        //.loader.ui.active.inverted.dimmer
          .ui.text.loader loading
    section#banner
      section#advertisement.align.center
        .horizontal.wrap
          .ui.orange.inverted.segment.simplified 感謝 kktix 熱情贊助 COSCUP 2015
      section#announcement.align.center
        .horizontal.wrap
          .ui.inverted.segment.simplified
            i.icon.announcement
            span 大會公告：遺失物品請到櫃臺領取
        //-.ui.grid.two.column.stackable
          .row
            .column
            .column
      //-footer#bottombar
        .ui.borderless.menu.simplified.horizontal.wrap
          include -level-one-nav-second
          .right.menu
            include -level-one-nav-third

block footer
  //-script(type='text/javascript', src='js/config.js')
  //-script(type='text/javascript', src='js/store.js')
  //-script(type='text/javascript', src='js/tabletop.js')
  //-script(type='text/javascript', src='js/underscore.js')
  //-script(type='text/javascript', src='js/moment.js')
  //-script(type='text/javascript', src='js/program.js')

  // jquery address for semantic ui tab
  //-script(type="text/javascript",src="assets/jquery.address.js")

block script
  script.
    $(document).ready(function(){

      $("[href*='program']").addClass("active");

      //$('#day-menu .item').tab({
      //  history: true,
      //  historyType: 'hash',
      //  //context: $('#program')
      //}).on('click tap', function(){
      //  window.scrollTo(0, 0);
      //});

      //$('#schedule-expand-button').on('click tap',function(){
      //  $('.row.expire').slideToggle();
      //  $(this).find('.action').toggle();
      //});

    });

