#program #header {
  background-color: #b3cce6;
}
#program #announcement {
  background-color: rgba(255, 0, 0, 0.1);
}
#program .schedule {
  position: relative;
  display: none;
  padding: 1rem 0;
}
#program .schedule.active {
  display: block;
}
#program .schedule .ui.grid {
  margin: 0;
  padding: 0;
  padding-left: 4rem;
}
#program .schedule .ui.grid .slot {
  position: relative;
}
#program .schedule .ui.grid .slot .time {
  position: absolute;
  left: -4rem;
  top: 0;
  font-size: 1rem;
  width: 3.5rem;
  text-align: right;
}
#program .schedule .ui.grid .row {
  margin: 0;
  padding: 0.25rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#program .schedule .ui.grid .row.expire {
  opacity: 0.8;
  display: none;
}
#program .schedule .ui.grid .row.expire .segment {
  background-color: rgba(255, 255, 255, 0);
}
#program .schedule .ui.grid .row.active {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px red solid;
}
#program .schedule .ui.grid .column {
  white-space: normal;
  margin: 0;
  padding: 0;
  min-width: 120px;
}
#program .schedule .ui.grid .column .segment {
  padding: 0.5rem;
}
#program .schedule .ui.grid .column .segment i.icon:last-child {
  margin-left: 0.5em;
  margin-right: 0;
}
#program .schedule .ui.grid .column .segment .ui.label:first-child {
  margin-left: 0;
  margin-right: 0.5em;
}
#program .schedule .ui.grid .column .segment .message {
  padding: 0.5rem;
}
