#program #header {
  background-color: #b3cce6;
}
#program #filter #schedule-expand-button .collapse {
  display: none;
}
#program #announcement {
  background-color: rgba(255, 0, 0, 0.1);
}
#program #gsheet {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 7rem;
}
#program #gsheet .wrap {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-height: 30rem) {
  #program #gsheet .wrap {
    bottom: 0;
  }
}
#program #gsheet .wrap iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#program #banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-height: 30rem) {
  #program #banner {
    display: none;
  }
}
#program #banner #advertisement {
  background-color: rgba(245, 204, 163, 0.5);
}
#program #banner #announcement {
  background-color: rgba(0, 0, 0, 0.1);
}
#program .schedule {
  position: relative;
  display: none;
}
#program .schedule.active {
  display: block;
}
#program .schedule .slots {
  position: fixed;
  overflow-y: auto;
  bottom: 7rem;
  top: 10.5rem;
  left: 0;
  right: 0;
}
#program .schedule .ui.grid {
  margin: 0;
  padding: 0;
}
#program .schedule .ui.grid .row {
  margin: 0;
  padding: 0.25rem;
  padding-left: 3.5rem;
  overflow: hidden;
  white-space: nowrap;
}
#program .schedule .ui.grid .row.expire {
  opacity: 0.8;
}
#program .schedule .ui.grid .row.expire .segment {
  background-color: rgba(255, 255, 255, 0);
}
#program .schedule .ui.grid .row.active {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px red solid;
}
#program .schedule .ui.grid .row .slot {
  position: relative;
  font-size: 1rem;
}
#program .schedule .ui.grid .row .slot .time {
  position: absolute;
  left: -3.5rem;
  top: 0;
  font-size: 1rem;
  width: 3rem;
  text-align: right;
}
#program .schedule .ui.grid .row .column {
  white-space: normal;
  margin: 0;
  padding: 0;
  min-width: 120px;
}
#program .schedule .ui.grid .row .column .segment {
  padding: 0.5rem;
}
#program .schedule .ui.grid .row .column .segment i.icon:last-child {
  margin-left: 0.5em;
  margin-right: 0;
}
#program .schedule .ui.grid .row .column .segment .ui.label:first-child {
  margin-left: 0;
  margin-right: 0.5em;
}
#program .schedule .ui.grid .row .column .segment .message {
  padding: 0.5rem;
}
